.favorites-page {
    background-color: #181818;
    height: 92vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    color: white;
}