.history-page {
    background-color: #181818;
    height: 92vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    color: white;
}

.history-list {
    /* background-color: #273442; */
    width: 60vw;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.hist-options {
    background-color: #1e2225;
    width: 25vw;
    height: 100%;
    text-align: center;
}

.hist-element {
    margin-top: 20px;
    margin-left: 65px;
    background-color: #1e2225;
    width: 700px;
    height: 270px;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.hist-element img {
    height: 230px;
    margin-left: 20px;
    border-radius: 10px;
}

.options {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 40px;
    font-size: 1.1em;
}

.option {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.description {
    margin-left: 30px;
}

.history-list::-webkit-scrollbar {
    width: 10px;
}

.history-list::-webkit-scrollbar-track {
    background: transparent; 
}

.history-list::-webkit-scrollbar-thumb {
    background: transparent;
}

.history-list:hover::-webkit-scrollbar-thumb {
    background: #4A4A4A; 
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}


.filters input {
    align-self: center;
    background-color: #181818;
    border: none;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.time-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.hist-options h2 {
    margin-bottom: 0px;
}

.time-filter {
    margin-bottom: 15px;
    background-color: #181818;
    width: 190px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1.2em;
    position: relative;
}

.time-filter:hover {
    cursor: pointer;
}

.selected-filter {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    position: absolute;
    left: 15px;
    border-radius: 10px;
}
