.CardList {
    display: flex;
    width: 85vw;
    background: #181818;
    flex-direction: column;
    align-items: center;
}


.Cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
    height: 640px;
}

.Cards::-webkit-scrollbar {
    width: 10px;
}

.Cards::-webkit-scrollbar-track {
    background: transparent; 
}

.Cards::-webkit-scrollbar-thumb {
    background: transparent;
}

.Cards:hover::-webkit-scrollbar-thumb {
    background: #4A4A4A; 
}
  

.paginationBttns {
    /* width: 90%; */
    /* height: 40px; */
    list-style: none;
    display: flex;
    margin-right: 15vw;
    font-family: sans-serif;
    font-weight: bolder;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border:  1px solid orange;
    color: orange;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: orange;
}

.paginationActive a {
    color: white;
    background-color: orange;
}

.list-label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: baseline;
    margin-left: 25px;
    font-size: larger;
    height: 30px;
    font-family: sans-serif;
}

.list-label p {
    margin-left: 8px;
}