.Card img {
    width: 210px;
    height: 200px;
    margin: 0px;
}

.collection-name {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    margin-top: 5px;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E2225;
    width: 245px;
    height: 260px;
    margin: 25px;
    padding: 0px;
    border-radius: 10px;
}

.Card:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 2;
}

.Card p {
    margin-top: 10px;
    font-size: 1.3em;
}

