.CardList {
    display: flex;
    width: 85vw;
    background: #181818;
    flex-direction: column;
    align-items: center;
}


.Cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;

}

.paginationBttns {
    /* width: 90%; */
    /* height: 40px; */
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border:  1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
}

.paginationActive a {
    color: white;
    background-color: #2b2eff;
}