.Sidebar {
    display: flex;
    height: auto;
    width: 15vw;
    background-color: #212121;
    color: aliceblue;
    position: -webkit-sticky; /* for Safari users */
    position: sticky;
    top: 0px;
    float: right;
    overflow: hidden;
    flex-direction: column;
}

.sidebar-tab {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.sidebar-tab p {
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
}

.sidebar-tab:hover {
    cursor: pointer;
    background-color: #373737;
}

.active-sidebar-tab {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #373737; 
    border-left: solid 3px orange;
}

.active-sidebar-tab p {
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
}

.log-out {
    position: absolute;
    bottom: 0px;
    border-top: 2px solid #373737;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding-left: 20px;
}

.log-out p {
    margin-left: 10px;
}

.log-out:hover {
    cursor: pointer;
    background-color: #373737;
}